<html>
  <head>
    <script src="https://unpkg.com/react@18/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>    
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    <script type="module" src="bundle.js" ></script>
    <link rel="stylesheet" href="css/style.css" />

  </head>
  <body class="theme">
    <div id="app"></div>
    
  </body>
</html>