#app {
  background-color: black;
  color: antiquewhite;
}
:root {
  background-color: black;
  color: antiquewhite;
  --thumbnail-size: 150px;
  --thumbnail-margin:25px;
  --middle-screen: 50%;
}
#imgContainer {
  display: block;
  position: relative;
  left: 10%;
  height: 70%;
  width: 80%;
  /*border: 1px solid grey;*/
}

#imgContainer img {
  /*border: 1px solid lightgrey;*/
  object-fit:contain;
  vertical-align: middle;

  width: 100%;
  height: 100%; 
  margin:auto;/* x,y center if inside a grid or flex box */
 
  
  display: flex;
}

#thumbnailListContainer2 {
  height: 10%;
  width: auto;
  padding: 3px;
  margin-top: 10px;
  margin-bottom: 10px;
  /*border: 1px solid grey;*/
  /*background-color: darkslategrey;*/
  overflow: auto;
  display: block;
}

#thumbnailListContainer {
  height: 10%;
  width: auto;
  padding: 3px;
  margin-top: 10px;
  margin-bottom: 10px;
  /*border: 1px solid grey;*/
  background-color: darkslategrey;
  overflow:auto;
  display: none;
}

.thumbnailContainer {
  /*border: 1px solid grey;*/
  height: 100%;
  aspect-ratio: 1 / 1;
  display: inline-block;
}
.thumbnailContainer2 {
  /*border: 1px solid grey;*/
  --total-width: calc(var(--thumbnail-size) + var(--thumbnail-margin) * 2 );
  height: var(--total-width);
  width: var(--total-width);
  aspect-ratio: 1 / 1;
  position: fixed;
  top:75%;
  display: block;
  overflow: hidden;
  /*padding:25px;*/
  object-fit:scale-down;
  left: calc(var(--offset) * var(--total-width) + 50% - var(--total-width) / 2);
}

.thumbnailContainer img{
  /*border: 1px solid grey;*/
  width: 100%;
  height: 100%;
  object-fit:scale-down;
}

.thumbnailContainer2 img{
  /*border: 1px solid grey;*/
  width: 100%;
  height: 100%;
  padding: 50px;
  object-fit:scale-down;
}
.selectedThumbnailContainer {
  border: 2px solid red;
  /*padding: 0px;
  /*left: calc((var(--offset)*var(--thumbnail-size))+50vw);*/
}
.selectedThumbnailContainer img{
  padding: 0;
  margin: 0;
}